PORT=your_port_number
CORS_ORIGIN=your_frontend_url

MONGODB_URI=mongodb_url

ACCESS_TOKEN_SECRET=jwt_access_secret
ACCESS_TOKEN_EXPIRY=expiry_time

REFRESH_TOKEN_SECRET=jwt_refresh_secret
REFRESH_TOKEN_EXPIRY=expiry_time

CLOUDINARY_CLOUD_NAME=cloudinary_name
CLOUDINAR_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=clousinary_secret

NODE_ENV=development | production